@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono:300,400,700&display=swap');

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #eeeeee }
}

@keyframes buttonload {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


img {    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }
 
body, html {
    background-color: black;
    font-family: "Rubik";
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: #eeeeee;


    scroll-behavior: smooth;
}

button {
    color: #eeeeee;
}

.bg-image {
    /* The image used */
    background-image: url(assets/main-background.jpg);
  
    /* Add the blur effect */
    filter:brightness(0.85); /*blur(0px);*/
    -webkit-filter: brightness(0.85); /*blur(0px);*/

    /* Full height */
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    position: absolute;
    z-index: 0;

  
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(12, 17, 17);

    overflow: hidden;
}

.canvas {
    /* Full height */
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    position: absolute;
    z-index: 0;
    margin: 0; 
    
    overflow: hidden;
  }

.container {
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:5px 5px 10px #0e0e0e94;
}

.main {
    align-self: center;
    min-width: 366px;
    max-width: 550px;
    max-height: 500;
    width: 100%;
    height: fit-content;
    background-color: rgba(14, 28, 29, 0.75);
    color: #eeeeee;
    text-align: center;
    box-shadow: 5px 5px rgba(9, 18, 19, 0.61);
    backdrop-filter: blur(5px);
    display: inline-block;
}

.messageboxwrapper {
    font-family: 'Rubik';
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    background-color:rgb(9, 18, 19);
    box-shadow: 5px 5px rgb(3,6,6);
}

.messagebox {
    font-family: 'Rubik';
    font-size: large;
    
    background-color:rgb(9, 18, 19);
    color: #eeeeee;
    width: 90%;

    border-style: none;
}

.messagebox:focus{
    outline: none;
}

a:link {
    color:#2af0e9;
    text-decoration: none;
}

a:visited {
    color:#2af0e9;
    text-decoration: none;
}

a:hover {
    color:rgba(42, 240, 233, 0.877);
    text-decoration: underline;
}

a.prof:link {
    color:#eeeeee;
    text-decoration: none;
}

a.prof:visited {
    color:#eeeeee;
    text-decoration: none;
}

a.prof:hover {
    color:rgba(42, 240, 233, 0.878);
    text-decoration: underline;
}

a.hide:visited {
    text-decoration: none;
}

a.hide:link {
    text-decoration: none;
}

a.hide:hover {
    text-decoration: none;
}



hr.rounded {
    margin-top:5px;
    border: 1px solid rgba(35, 52, 83, 0.5);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

hr.invis {
    margin-top:12px;
    border: 1px solid rgba(0,0,0, 0);
    border-radius: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'left left left middle middle middle right right right';
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
}

.grid-container2 {
    display: grid;
    grid-template-areas:
      'left left left left left left left left right';
    gap: 2px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
  }
  

button {
    font-family: "JetBrains Mono";
    font-size: 18px;
}


button.youtube {
    border-style: hidden;
    height: 50px;
    width: 100%;
    box-shadow: 4px 4px rgba(255, 53, 53, 0.35);
    background-color: rgb(255, 53, 53);
}

button.github {
    border-style: hidden;
    height: 50px;
    width: 100%;
    box-shadow: 4px 4px rgba(61, 61, 61, 0.35);
    background-color: rgb(61, 61, 61);
}

button.discord {
    border-style: hidden;
    height: 50px;
    width: 100%;
    box-shadow: 4px 4px rgba(88, 101, 242, 0.35);
    background-color: rgb(88, 101, 242);
}

button {
    transition: transform 0.2s, filter 0.3s;
}

button:hover {
    transform: translate(0px, -8px);
    filter: brightness(0.85);
}

button:hover:after {
    transform: translate(0px, 0px);
    filter: brightness(1);
}

.profile-container {
    align-self: center;
    width: 96%;
    height: 28%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 12px;
    background-color: rgba(16, 31, 32, 0.8);
    color: #eeeeee;
    text-align: center;
    box-shadow: 5px 5px rgba(6, 12, 12, 0.733);
}

img.avatar {
    margin-top:2px;
    margin-left: 75px;
    border-radius: 50%;
    border: 4px solid rgb(42, 240, 233);
    box-shadow: 5px 5px rgba(6, 12, 12, 0.733);
    align-self:flex-start;
}

.tinysocialtext {
    color: #648c8f;
    font-family: 'JetBrains Mono';
    font-size: 14px;
}

.project-container {
    background-color: rgb(5, 10, 10);
    display: inline-block;
    height: fit-content;
    max-width: device-width;
    position:absolute;
    top:101%;
    width:100%;
    left:0;
    color: #eeeeee;
    text-align: center;
    text-shadow:5px 5px 10px #000000;
    box-shadow: 0 0 8px 10px rgb(5, 10, 10);
}

.IPText {
    font-family: 'JetBrains Mono';
    border-right: 0.65em solid #eeeeee;
    animation: blink-caret 1s step-end infinite;
    color: rgb(42, 240, 233);
}

.socialbutton {
    animation: buttonload 0.5s ease-in-out 1;
    animation-play-state: paused;
}


.errorplaceholder::-webkit-input-placeholder {
    color: #db4b4b;
}

.errorplaceholder::-moz-placeholder {
    color:#db4b4b;
}

.errorplaceholder::-ms-placeholder {
    color:#db4b4b;
}

.errorplaceholder::placeholder {
    color:#db4b4b;
}