---
  import { Icon } from 'astro-icon/components'
---

<img src="/images/mikubeach-cropped.png" alt="miku at the beach"><br>
Hey there, I am <span class="blue">Specifix</span>! Just another person surfing the internet. I code sometimes, mostly for fun, and I play a lot of games too. <span class="blue">&#x6f;&#x28;&#x28;&#x3e;&#x3c9;&#x3c;&#x20;&#x29;&#x29;&#x6f;</span>
<br><br>
I am a <span class="blue">full-stack dev</span> ( •̀ ω •́ ), I started programming as a hobby at around <span class="blue text-backdrop">Mar-Apr 2018</span>.

<br><br>
Current skills I'm proud of: <span class="blue">(｡•̀ᴗ-)✧</span>
<ul>
  <li><Icon name="simple-icons:typescript" class="blue" /><span>TypeScript</span></li>
  <li><Icon name="simple-icons:lua" class="blue" /><span class="blue">Lua/Luau</span></li>
  <li><Icon name="simple-icons:kotlin" class="blue" /><span>Kotlin/Java</span></li>
  <li><Icon name="simple-icons:csharp" class="blue" /><span class="blue">C#</span></li>
</ul>
I'm always learning <span class="blue">many more</span> stuff!! (°▽°)ゞ<br>
<span class="footnote">(depends on my interests though lol) </span>

<br><br>
Oh and.. I think I know a thing or two about web design.. (　＾∇＾)
<br><br>
<br><br>
<img src="/images/mikuuu.gif" alt="miku guitar fr">
<br>
<span class="footnote">
  I'll do my best ο(=•ω＜=)ρ⌒☆
</span>