---
  import { Icon } from 'astro-icon/components'
---

<img src="/images/mikubeach-cropped.png" alt="miku at the beach"><br>
Hey there, I am <span class="blue">Specifix</span>! Just another person surfing the internet. I code sometimes, mostly for fun, and I play a lot of games too—I find rhythm and sandbox games the most fun though.
<br><br>
I am a full-stack dev and I started programming around <span class="blue text-backdrop">Mar-Apr 2018</span>
<br><br>
Currently working to expand my programming skills even more. <span class="blue">Proficient at using:</span>
<ul>
  <li><Icon name="simple-icons:typescript" /><span class="blue">TypeScript/JavaScript</span></li>
  <li><Icon name="simple-icons:lua" /><span class="blue">Lua/Luau</span></li>
  <li><Icon name="simple-icons:kotlin" /><span class="blue">Kotlin/Java</span></li>
  <li><Icon name="simple-icons:csharp" /><span class="blue">C#</span></li>
</ul>
And learning <span class="blue">many more</span>! <br>
<span class="footnote">(depends on my interests though lol) </span>

<br><br>
Oh and.. I think I know a thing or two about web design..
<br><br>
<br><br>
<img src="/images/mikuuu.gif" alt="miku guitar fr">
<br>
<span class="footnote">
  haha miku!!!!!
</span>