---
  import { Icon } from 'astro-icon/components'
  import DayNight from '../dayNight.svelte'
---

<img src="/images/mikubeach-cropped-2.png" alt="miku at the beach"> <br>
I have a few socials/profiles! Anyone other than the ones listed below is probably an impersonator so take it with a grain of salt. Anyway, <span class="blue">here's the list:</span><br>
<ul>
  <li><span class="blue">GitHub</span>: <a href="https://github.com/Specifix5" target="_blank" class="text-backdrop social"><Icon name="simple-icons:github" />Specifix5</a></li>
  <li><span class="blue">Discord</span>: <a href="https://discord.specifix.dev/" target="_blank" class="text-backdrop social discord"><Icon name="simple-icons:discord" />specifix</a></li>
  <li><span class="blue">YouTube</span>: <a href="https://www.youtube.com/@Specifix5" target="_blank" class="text-backdrop social youtube"><Icon name="simple-icons:youtube" />Specifix5</a></li>
  <li><span class="blue">X/Twitter</span>: <a href="https://x.com/ThatIsSpecifix" target="_blank" class="text-backdrop social twitter"><Icon name="simple-icons:x" />ThatIsSpecifix</a></li>
  <li><span class="blue">Roblox</span>: <a href="https://www.roblox.com/users/2233446594/profile" target="_blank" class="text-backdrop social roblox"><Icon name="simple-icons:roblox" />Specifix5</a></li>
</ul>
Email and inquiries at <span class="text-backdrop blue"><a class="nodeco" href='m&#97;ilto&#58;&#97;&#108;&#37;6&#53;x&#64;%7&#51;p&#101;c&#105;%66i&#37;&#55;&#56;&#46;&#100;ev'>ale&#120;&#64;sp&#101;cif&#105;x&#46;de&#118;</a></span><br>
Have a good <DayNight client:load /> <br> <img src="/emotes/miku_show.webp" class="emoji bigEmoji" draggable="false"> <br>
<br>
All time visitors: <br>
<img src="https://count.specifix.dev/get/@visitors?theme=moebooru" alt=""><br>
<span class="footnote">
view source code on <a href="https://github.com/Specifix5/Specifix5.github.io" class="blue">github</a>.
</span>

<style>
  .nodeco {
    text-decoration: none;
    color: inherit;
  }

  .bigEmoji {
    height: 35px;
    width: 35px;
  }
</style>