---
  import { Icon } from 'astro-icon/components'
  import DayNight from '../dayNight.svelte'
---

<img src="/images/mikubeach-cropped-2.png" alt="miku at the beach"> <br>
I have a few socials/profiles that I usually use! Anyone other than the ones listed below is probably <span class="blue underline">NOT</span> me. <span class="blue">/ᐠ｡ꞈ｡ᐟ\</span><br>
<ul>
  <li><span class="blue">GitHub</span>: <a href="https://github.com/Specifix5" target="_blank" class="text-backdrop social"><Icon name="simple-icons:github" />Specifix5</a></li>
  <li><span class="blue">Discord</span>: <a href="https://discord.specifix.dev/" target="_blank" class="text-backdrop social discord"><Icon name="simple-icons:discord" />specifix</a></li>
  <li><span class="blue">YouTube</span>: <a href="https://www.youtube.com/@Specifix5" target="_blank" class="text-backdrop social youtube"><Icon name="simple-icons:youtube" />Specifix5</a></li>
  <li><span class="blue">X/Twitter</span>: <a href="https://x.com/ThatIsSpecifix" target="_blank" class="text-backdrop social twitter"><Icon name="simple-icons:x" />ThatIsSpecifix</a></li>
  <li><span class="blue">Roblox</span>: <a href="https://www.roblox.com/users/2233446594/profile" target="_blank" class="text-backdrop social roblox"><Icon name="simple-icons:roblox" />Specifix5</a></li>
</ul>
Email and inquiries at <span class="text-backdrop blue"><a class="nodeco" href='mailto&#58;ro&#111;&#116;&#64;s&#37;70ec%6&#57;&#102;i%&#55;8&#46;d&#101;&#118;'>&#114;&#111;ot&#64;specifix&#46;&#100;&#101;v</a></span><br>
Have a good <DayNight client:load /> ヾ(•ω•`)o <br>
<br>
All time visitors: <br>
<img src="https://count.specifix.dev/get/@visitors?theme=moebooru" alt=""><br>
<span class="footnote">
view source code on <a href="https://github.com/Specifix5/Specifix5.github.io" class="blue">github</a>.
</span>

<style>
  .nodeco {
    text-decoration: none;
    color: inherit;
  }

  .bigEmoji {
    height: 35px;
    width: 35px;
  }
</style>