@use './vars.scss' as *;

:root {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;

  color-scheme: dark;
}

/* Cursors */

html {
  cursor: url("/cursors/miku_normal.cur"), auto;
}

button {
  cursor: url("/cursors/miku_sing.cur"), auto;
}

a {
  cursor: url("/cursors/miku_hand.cur"), auto;
}

input {
  cursor: url("/cursors/miku_beam.cur"), auto;
}

img.icon {
  width: 2em;
  height: 2em;
  margin: -1em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  transform: translateY(-0.2em);
}

/* Containers */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 20vh;
  padding-bottom: 1em;

  @media screen and (max-width: 425px) {
    padding-top: 5em;
    padding-bottom: 1em;
  }
}

.container {
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  max-width: $max-width;
  width: 100vw;

  display: grid;

  & > div {
    background-color: $background-div-color;


    border-radius: $border-radius;
    
    border: solid 1px rgba($accent-color, 0.1);
  }
}

.social-media-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: 5px;

  .translucent {
    position: absolute;
    margin-top: -2.5em;
    font-size: 1.3em;
    opacity: 20%;
  }
}

.icon-color {
  color: $icon-color;
}

#header {
  img {
    &.icon {
      position: absolute;
      width: 4em;
      height: 4em;
      margin-top: -2em;
      margin-left: 35px;
    }

    &.sleep {
      position: absolute;
      width: 3em;
      height: 3em;
      margin-top: -65px;
      margin-left: 80px;
    }
  }

  h1 {
    margin-left: 0.75em;
    text-align: left;
    font-size: 1em;
  }

  a {
    transition: all $transition-time;
    &:hover {
      opacity: 80%;
      color: $accent-color;
    }
  }

  display: flex;
  flex-direction: row;
}

#menu404 {
  background: transparent;
  border: transparent;

  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 1em;

  margin-top: 1em;

  button {
    background: transparent;
    border: transparent;
    padding: 0px;
    color: $accent-color;

    font: inherit;
  }
}

#tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.25em;

  background: transparent;
  border: transparent;
  margin-top: 0.5em;

  color: rgba($text-color, 0.25);
  font-weight: bold;
  font-size: 1.1em;

  padding-left: 0.5em;

  &::before {
    content: "☆ ";
    color: $icon-color;
    margin-right: 0.5em;
  }

  &::after {
    content: "☆";
    color: $icon-color;
    margin-left: 0.5em;
  }

  @media screen and (max-width: 370px) {
    &::after {
      content: "";
    }

    &::before {
      content: "";
    }

    font-size: 1em;
  }

  @media screen and (max-width: 425px) {
    justify-content: center;
  }

  button {
    text-decoration: none;
    color: $text-color;
    transition: all $transition-time;
    background: transparent;
    border: transparent;
    padding: 0px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;

    &.tab-button-active {
      color: $accent-color;
      text-decoration: underline;
    }

    &:hover {
      opacity: 80%;
      text-decoration: underline;
    }
  }
}

div.webbutton-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.1em;
  padding-right: 1em;
  
  @media screen and (max-width: 350px) {
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 1em;
  }
} 

/* Tab Animations */
@keyframes tab-open {
  0% {
    margin-top: 2em;
    opacity: 0%;
    position: relative;
  }
  100% {
    margin-top: 0 auto;
    opacity: 100%;
  } 
}

@keyframes tab-close {
  0% {
    margin-top: 0 auto;
    opacity: 0%;
  }
  100% {
    margin-top: 2em;
    position: absolute;
  }
}

div.tab-content {
  padding: 1em;
  padding-top: 0.5em;
  position: absolute;
  pointer-events: none;
  opacity: 0%;

  height: 0px;
  margin-bottom: -100vh;

  animation: tab-close $transition-time;
}

div.tab-active {
  position: relative;
  pointer-events: all;
  margin-top: 0.8em;

  height: auto;
  margin-bottom: 0px;

  opacity: 100%;
  animation: tab-open $transition-time;
}

.center {
  text-align: center;
}

span.mini {
  font-size: 0.8em;
  opacity: 50%;
  font-style: italic;
}

/* Color overrides */
.blue {
  color: $blue;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.35em;
}

hr {
  width: 100%;
  justify-self: left;
  align-self: center;
  float: left;
  margin-top: 0.8em;

  border: none;
  $color: $accent-color;
  background: linear-gradient(90deg, $color, $color, $color, $color, transparent, transparent);
  height: 1px;
  border: none;
}

.underline {
  text-decoration: underline;
}