@use './vars.scss' as *;

img {
  width: 100%;
  max-width: 350px;
}

.mikupic {
  margin-top: 1em;
}

div.webbutton-container { 
  margin-bottom: 1em;
  margin-top: 0.5em;
}

ul {
  list-style: none;
  & > li {
    margin-left: -2em;
    &::before {
      content: "* ";
    }
  }
}

a {
  opacity: 50%;
  font-style: italic;
  text-decoration: underline;
  color: $text-color;
}

h1 {
  margin-top: 0.1em;
  color: $accent-color;
  font-size: $h1-size;

  &::before {
    content: "——";
    text-decoration: line-through;
    margin-right: 0.5em;
  }

  &::after {
    content: "——";
    text-decoration: line-through;
    margin-left: 0.5em;
  }
}