/* Colors */

$blue: #7ad4e4;

$background-color: #11111b;
$background-div-color: #1e2030;

$text-color: #cdd6f4;
$icon-color: #cdd6f4;
$accent-color: $blue;

/* Borders */
$border-radius: 0px;
$max-width: 480px;

/* Transitions */
$transition-time: 0.2s;

/* Sizes */
$h1-size: 1.25em;