/* Imports */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

/* Colors */

$blue: #7ad4e4;

$font: 'JetBrains Mono', monospace;

$background-color: #11111b;
$background-div-color: #1e2030;

$text-color: #cdd6f4;
$icon-color: #cdd6f4;
$accent-color: $blue;

/* Borders */
$border-radius: 0px;
$max-width: 480px;

/* Transitions */
$transition-time: 0.2s;

/* Sizes */
$h1-size: 1.25em;