---
import BaseContainer from "../components/BaseContainer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout title="404 Not Found" description="That page doesn't exist here!! (￣﹏￣；)">
  <BaseContainer>
    <span class="center">That page doesn't exist here!! (￣﹏￣；)</span>
    <div id="menu404">
      <button onclick="history.back()">{"<"} [return]</button> <button onclick="window.location.href='/'">[home] {">"}</button>
    </div>
  </BaseContainer>
</BaseLayout>