---
import MainLayout from '../layouts/mainLayout.astro'
import InfoContainer from '../components/infoContainer.astro'
import AsciiCat from '../components/asciiCat.astro'
import InfoBox from '../components/infoBox.astro'
import { Icon } from 'astro-icon/components'
import IpText from '../components/ipText.svelte'
import Popup from '../components/popup.svelte'

import PopupAboutMe from '../components/popups/popupAboutMe.astro'
import PopupContacts from '../components/popups/popupContacts.astro'
---

<MainLayout>
	<InfoContainer>
    <InfoBox>
      hello, <IpText client:load /> <br>
      i'm <span class="blue">specifix</span>! ヾ(•ω•`)o <br>
      i make random stuff!!<br>
      <ul draggable="false">
        <li>GitHub: <a href="https://github.com/Specifix5" target="_blank" class="text-backdrop social"><Icon name="simple-icons:github" />Specifix5</a></li>
        <li>Discord: <a href="https://discord.specifix.dev/" target="_blank" class="text-backdrop social discord"><Icon name="simple-icons:discord" />specifix</a></li>
        <li>YouTube: <a href="https://www.youtube.com/@Specifix5" target="_blank" class="text-backdrop social youtube"><Icon name="simple-icons:youtube" />Specifix5</a></li>
      </ul> 
    </InfoBox>   
    <AsciiCat />
	</InfoContainer>
  <Popup client:load name="about-me" title={`<img src="/emotes/light_blue_heart.svg" alt="emoji" class="emoji" draggable="false"> about me`}>
    <PopupAboutMe />
  </Popup>
  <Popup client:load name="contacts" title={`<img src="/emotes/blue_glowing_star.webp" alt="emoji" class="emoji" draggable="false"> my contacts`}>
    <PopupContacts />
  </Popup>
</MainLayout>