@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --accent: rgb(225, 225, 225) ;
    --blue: #87d5ff;
    --emerald: #98C379;
    --gold: #f5c96a;
    --accent-2: #333f50;
    --accent-3: #333f509d;
    --background: #121822;
    --buttons: #1a2233;
    --font-mono: 'JetBrains Mono';
    --font-reg: 'Rubik';
    --button-radius: 9px;
    
    /* 
        Social Media Color Themes
    */
    --color-discord: #5865f2;
    --color-youtube: #cf3e3e;
    --color-twitter: #3d3d3d;
    --color-roblox: #000000;
    color-scheme: dark;

    /*
        Programming Language Color Themes
    */

    --color-kt-bg: #806EE3;
    --color-kt-fg: var(--accent);

    --color-rs-bg: #F74C00;
    --color-rs-fg: var(--accent);

    --color-js-bg: #F0DB4F;
    --color-js-fg: #323330;

    --color-ts-bg: #3178C6;
    --color-ts-fg: var(--accent);

    --color-luau-bg: #00A2FF;
    --color-luau-fg: var(--accent);

    --color-cs-bg: #68217A;
    --color-cs-fg: var(--accent);

    --color-java-bg: #F8981D;
    --color-java-fg: var(--accent);

    --color-cpp-bg: #00599C;
    --color-cpp-fg: var(--accent);

    --color-py-bg: #3771A1;
    --color-py-fg: #FFD242;
}

html {
    font-family: var(--font-mono);
    cursor: url("/assets/cursors/miku_normal.cur"), auto;
}

body {
    background-image: linear-gradient(180deg, #0f141d, var(--background), #0f141d) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--accent);
}

button {
    cursor: url("/assets/cursors/miku_sing.cur"), auto;
}

a {
    cursor: url("/assets/cursors/miku_hand.cur"), auto;
}

input {
    cursor: url("/assets/cursors/miku_beam.cur"), auto;
}

.main-container {
    justify-self: center;
    height: 300px;
    max-width: 475px;
    text-align: center;
    margin-bottom: 65px;
}

section#home {
    height: 100vh;
    max-height: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--buttons);
    width: 100%;
    position: absolute;
    left: -0.025em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.sub-container-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    column-gap: 5px;
    margin-bottom: 1em;
}

.ascii-art {
    white-space: pre;
    font-family: var(--font-reg);
    font-size: 2em;
    text-align: left;
    padding-top: 20px;
}

.tiny {
    font-size: 0.9em;
    margin-left: 0px;
}

.ascii-art .tiny {
    font-size: 0.5em;
    font-family: var(--font-mono);
}
.info-box {
    text-align: left;
    line-height: 1.5em;
    margin-top: -0.8em;
    margin-left: 2em;
}

.info-box ul li {
    margin-left: -1.25em;
}

.text-backdrop {
    border-radius: 4px;
    background: var(--accent);
    color: var(--background);
    padding-left: 5px;
    padding-right: 5px;
}

.text-backdrop.blue {
    background: var(--blue);
    color: var(--background);
}


a.social {
    text-decoration: none;
}

a.social i, a.social.roblox > svg {
    margin-right: 0.15em;
}

a.social.discord {
    background: var(--color-discord);
    color: var(--accent);
}

a.social.youtube {
    background: var(--color-youtube);
    color: var(--accent);
}

a.social.twitter {
    background: var(--color-twitter);
    color: var(--accent);
}

a.social.roblox {
    background-color: var(--color-roblox);
    color: var(--accent);
}

a.social.roblox > svg {
    margin-bottom: -3px;
}

span.footnote {
    opacity: 50%;
    font-size: 0.85em;
}

.title-header {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1.6fr 2fr 1fr;
    column-gap: 5px;
}

.tinyimage {
    height: 3em;
    width: 3em;
    justify-self: start;
    margin-left: 85%;
    transform: rotate(150deg);
}

.unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img.emoji {
    height: 1.35em;
    width: 1.35em;
    margin: 0.05em 0.1em;
    vertical-align: -0.35em;
    border-radius: 0px;
}

.tiny img.emoji {
    vertical-align: 0.25em;
}

img.bigger {
    height: 1.55em;
    width: 1.65em;
    margin: 0.05em 0.1em;
    vertical-align: -0.35em;
}

img.ahoge {
    margin-left: -0.6em;
}

img.miku-hair-clip {
    width: 1.5em;
    height: 1.3em;
    position: absolute;
    margin-left: -0.38em;
    margin-top: -0.05em;
    rotate: -5deg;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}


h1.title-text {
    margin: 0px;
    font-size: 1.15em;
    font-weight: normal;
}

hr {
    margin-top:8px;
    margin-bottom: 0px;
}

hr.fade-right {
    background: linear-gradient(90deg, #1a233100, var(--accent-2),var(--accent-2), var(--accent-2), var(--accent-2),var(--accent-2), var(--accent-2), #1a233100);
    height: 1px;
    border: none;
}

hr.invis {
    border: none;
}

.button-cluster {
    width: 300px;
    height: 1em;
    justify-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.6em;
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
}

.button-cluster button {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    border-radius: var(--button-radius);
    background-color: var(--buttons);
    border: solid 1px var(--accent-2);
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: 1em;
    transition: transform 100ms;
    margin: auto;
}

.button-cluster button:hover, .message-box-container button:hover, .popup button:hover {
    filter: brightness(1.1);
}

.button-cluster button:active, .message-box-container button:active, .popup button:active {
    transform: scale(0.95);
}

.message-box-container {
    width: 85vw;
    max-width: 85%;
    height: 1.25em;
    padding: 0.6em;
    border-radius: var(--button-radius);
    background-color: var(--buttons);
    border: solid 1px var(--accent-2);
    color: var(--accent);
    font-family: var(--font-mono);
    margin: auto;
    margin-top: -2.5em;
    display: grid;
    align-items: center;
    grid-template-columns: 9fr 1fr;
}

.message-box-container input {
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    height: 100%;
    float: left;
}

.message-box-container button {
    float: right;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    opacity: 0%;
    transition: transform 100ms, opacity 100ms;
}

.popup-bg, .popup {
    position: fixed;
    height: 100%;
    transform: translate(0px, 100%);
}

.popup {
    background-color: var(--buttons);
    width: 100%;
    max-width: 500px;
    left: 50%;
    top: 50%;
    height: 95vh;
    transform: translate(-50%, 50%) scale(0);
    transition: transform 100ms;
    border: solid 3px var(--accent-3);
    border-radius: var(--button-radius);

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    row-gap: 10px;
}

.popup button {
    padding: 0.5em;
    border-radius: var(--button-radius);
    background-color: var(--buttons);
    border: solid 1px var(--accent-2);
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: 1em;
    height: 100%;
    width: 100%;
}

.popup .p-title {
    background-color: var(--accent-3);
    height: 2rem;
    padding: 1rem;
    font-size: 25px;
}

.popup .p-area {
    padding: 0.8rem;
    padding-top: 0.2rem;
    text-wrap: pretty;
    height: 100%;
    overflow-y: scroll;
}

.popup .p-area img {
    border-radius: var(--button-radius);
    max-width: 100%;
}

.popup .p-area img.emoji {
    width: 35px;
    height: 35px;
}


.popup .p-footer {
    height: 1rem;
    padding: 0.35em;
    height: 2.5em;
    background-color: var(--accent-3);
}

.p-area > ul {
    padding-left: 0px;
}

#about-me .p-area > ul {
    margin-top: 3px;
}

.p-area > ul > li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.p-area > .text-backdrop {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.p-area > ul > li::before {
    content: "* ";
}

#popup-bg {
     /* Parent background + Gaussian blur */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Safari */
    /* Exclusion blend */
    background-blend-mode: exclusion;
    transition: backdrop-filter 100ms;
    left: 0px;
    top: 0px;
    width: 100vw;
}

.visible {
    display: block;
}

#sendPM.visible {
    opacity: 100%;
}

#popup-bg.visible {
    transform: translate(0px, 0px);
}

.popup.visible {
    transform: translate(-50%, -50%) scale(1);
    display: grid;
}

.blue {
    color: var(--blue);
}

.emerald {
    color: var(--emerald)
}

.gold {
    color: var(--gold)
}

img.emoji.symbol {
    filter: opacity(0.6) drop-shadow(0 0 0 currentcolor) saturate(250%);
    margin-right: 2px;
    margin-bottom: -3px;
    transform: scale(80%);
}

footer span {
    opacity: 40%;
    transition: opacity 100ms;
}

footer span:hover {
    opacity: 90%;
}

hr.rounded {
    width: 100%;
    height: 1px;
    border: none;
    background: linear-gradient(90deg, #ffffff00, #fff, #fff, #fff, #ffffff00);
}
  
.body404 {
    text-align: center;
    display: flex;
    justify-content: center;
}
  
.grid-container404 {
    display: grid;
    grid-template-areas:
      'left left left right right right';
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}
  
.grid-container404 > div > button {
    width: 200px;
    height: 60px;
    font-family: 'JetBrains Mono';
    font-size: large;
    border: none;
    background-color: transparent;
}
.body404 .tiny {
    font-size: 0.5em;
}

@media screen and (max-width: 485px) {
    .ascii-art {
        display: none;
    }

    .info-box {
        line-height: 1.5em;
        margin-top:  13em;
        position: absolute;
        justify-self: center;
        text-align: left;
        margin-left: 10px;
        min-width: 240px;
    }

    .button-cluster {
        width: 85vw;
        max-width: 90%;
        margin-top: 3.8em;
        position: relative;
    }

    .sub-container-grid {
        padding-bottom: 12em;
    }

    .title-header {
        column-gap: 45px;
    }

    .message-box-container {
        margin-top: -0.5em;
    }

    hr.fade-right {
        width: 90vw;
    }

    .popup {
        height: 100%;
    }
}