---
const { title } = Astro.props
import "../styles/main.scss"
---
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name=”robots” content="index, follow">

<link rel="canonical" href="https://specifix.dev/">

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

<title>Specifix.dev</title>
<meta name="og:title" content="{title}" property="og:title" />
<meta name="og:site_name" content="specifix.dev" property="og:site_name" />
<meta name="og:description" content="I'm Specifix, how are you?" property="og:description" />
<meta content="I'm Specifix, how are you?" name="description" />
<meta content="https://specifix.dev/" property="og:url" />