---

---
<div class="info-box">
  <slot />
</div>

<style>
  .info-box {
    text-align: left;
    line-height: 1.5em;
    margin-top: 1.1em;
    margin-left: 2em;
  }

  @media screen and (max-width: 485px) {
    .info-box {
        line-height: 1.5em;
        position: absolute;
        justify-self: center;
        text-align: left;
        margin-left: 10px;
        min-width: 240px;
    }
  }
</style>