---
import MessageBox from "./messageBox.svelte"
import PopupButton from "./popupButton.svelte"
import { Icon } from 'astro-icon/components'

import { experimental_AstroContainer } from "astro/container";

const container = await experimental_AstroContainer.create();
const SendIcon = await container.renderToString(Icon, { props: { name: "mdi:send" }});
---
<div class="center">
  <div class="title-header">
    <img draggable="false" src="/images/specifix.png" class="tinyimage">
    <h1 class="title-text"><span class="text-backdrop blue">specifix</span>.dev</h1>
  </div>
  <hr class="fade-right">
  <div class="sub-container-grid">
    <slot />
  </div>
  <MessageBox class="unselectable" sendIcon={SendIcon} client:load />
  <div class="button-cluster">
    <PopupButton popupName="about-me" buttonText="â“ about me" client:load />
    <PopupButton popupName="contacts" buttonText="ðŸ“§ contacts" client:load />
  </div>
</div>

<style lang="scss">
  div.center {
    width: 100vw;
    max-width: 475px;
    height: 300px;
  }

  div.title-header {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1.6fr 2fr 1fr;
    column-gap: 5px;
  }

  img.tinyimage {
    height: 3em;
    width: 3em;
    justify-self: start;
    margin-left: 85%;
    transform: rotate(150deg);
  }

  h1.title-text {
    margin: 0px;
    font-size: 1.15em;
    font-weight: normal;
  }

  div.sub-container-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    column-gap: 5px;
    margin-bottom: 1em;
  }

  div.button-cluster {
    width: 300px;
    margin-top: 1em;
    height: 1em;
    justify-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.6em;
    position: fixed;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 485px) {
    div.button-cluster {
      max-width: 90%;
      width: 100vw;
      position: relative;
      bottom: 0px;
    }

    hr.fade-right {
      width: 95vw;
    }

    div.title-header {
      column-gap: 45px;
      justify-items: center;
      text-align: center;
    }
  }
</style>