---
import BaseHead from "../components/baseHead.astro"
import Snow from "../components/seasonal/snow.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
    
    <BaseHead title="Specifix" />
  </head>
  <body>
    <Snow />
    <slot />
  </body>
</html>

<style lang="scss">
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
</style>